*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/example/jpainter/ExampleInstrumentedTest.java
/lib_sketchpad/src/androidTest/java/com/example/sketchpad/ExampleInstrumentedTest.java
/app/src/test/java/com/example/jpainter/ExampleUnitTest.java
/lib_sketchpad/src/test/java/com/example/sketchpad/ExampleUnitTest.java
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
